@font-face {
    font-family: wondermail;
    src: url(wondermail.woff);
}

body {
	margin: 0px;
}
div {
	box-sizing: border-box;
	font-family: wondermail;
}

#header {
	height: 200px;
	background-color: #7683bc;
	padding: 30px;
	text-align: center;
}
#main {
	display: flex;
	flex-direction: right;
	background-image: url(Postal_Backdrop.png)


}
#scrolltop{
	position: sticky; 
	top: 0;
	width: 0vw;
	height: 0vw;
	margin: 0px 0vw 0px 11vw;
}
#content {
	font-family: wondermail;
	width: 45vw;
	margin: 80px 5vw 80px 22vw;
	background-color: #F1c85f;
	min-height: 100vh;
	white-space: pre-line;
	border: 5vw solid;
    padding: 0px;
    border-image-source: url(Scrollborder.png);
    border-image-repeat: repeat;
    border-image-slice: 160;
    border-image-outset: 65px;
}
#scrollbottom{
	position: sticky; 
	bottom: 0;
	width: 0vw;
	height: 0vw;
	margin: 0px 0vw 0px 11vw;
}

#sidebar {
	width: 14vw;
	margin: 80px 0;
}
#sidebar a {
	box-sizing: border-box;
	display: block;
	width: 100%;
	height: 60px;
	margin-bottom: 20px;
	background-color: #888888;
	color: black;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	padding: 16px;
	font-size: 25px;
}
#footer {
	height: 200px;
	background-color: #2d241c;
	color: #593e27;
	padding: 30px;
	text-align: right;
}